@font-face {
    font-family: PP mori;
    src: url(/fonts/PPMori-Regular.otf);
}
@font-face {
    font-family: PP mori;
    src: url(/fonts/Gilroy-Medium.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
}

.purple{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #EDBFFF;
    z-index: 100;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
}

.main{
    background-color: #0F0D0D;
    cursor: none;
}
.page1{
    min-height: 80vh; /* -- viewport height*/
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 6vw;
}
.nav{
    height: 55px;
    width: 100%;
    padding: 0 30px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
}
.nav img{
    height: 56px;
}
.nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav .circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
}
.nav h4{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 1.5px solid transparent;
    transition: border-bottom 0.4s;
}
.nav h4:nth-child(1){
    border-bottom: 1.5px solid white;
}

.page1 h1{
    font-size: 8vw; /*help to make it responsive*/
    font-weight: 300;
    font-family: PP mori;
    margin-top: 12vw;
    margin-left: 6vw;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 26vw;
}
.page1 video{
    width: 60%;
    margin-top: 6vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid rgb(133, 133, 134);
    position: relative;
    z-index: 9;
}
.page2 h1{
    font-size: 7vw;
    font-weight: 300;
    font-family: PP mori;
    color: rgb(0, 0, 0);
}
.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page2-left{

    width: 38%;
}
.page2-right{

    width: 24%;
}
.page2-left h2{
    font-size: 3vw;
    font-weight: 300;
    font-family: PP mori;
    color: rgb(0, 0, 0);
}
.page2-right p{
    font-size: 28px;
    color: black;
    font-family: PP mori;
    font-weight: 20;
}
.page2-right button{
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 4px 0;
    color: black;
    background-color: #EDBFFF;
}

.page3{
    min-height: 100vh;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(164, 161, 161);
    position: relative;
    padding-top: 100px;
    z-index: 9;
}

.page3 h1{

    font-size: 6.8vw;
    font-weight: 400;
    color: black;
    font-family: PP mori;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part1 img{
    height: 500px;
    margin-top: 160px;
    margin-left: 1vw;
}
.page3-part1 video{
    margin-right: 2vw;
}
.page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part2 img{
    height: 400px;
    margin-top: 80px;
    margin-left: 1vw;
}
.page3-part2 video{
    margin-right: 2vw;
}

.page4{
    margin-top: 12vh;
    min-height: 100vh;
    width: 100%;
    padding: 140px 100px;
    position: relative;
    z-index: 9;
    border-bottom: 1px solid #dadada;
}

.elem{
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem .text-div{
    height: 120px;
    overflow: hidden;
}
.elem h1{
    color: aqua;
    font-size: 7vw;
    font-weight: 600;
    padding-bottom: 20px;
    transition: all ease 0.5s;
}
.elem:hover h1{
    /* background-color: #0F0D0D; */
    color: #EDBFFF;
    margin-bottom: 10px;
    transform: translateY(-100%); /*both h1 slides up looks like animtation*/
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);;
}
.elem img:nth-child(1){ /*img1*/
    left: -4%;
    width: 60vh;
}
.elem img:nth-child(3){ /*img2*/
    right: 5%;
    width: 50vh;
}
.page5{
    min-height: 120vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}
.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}

.page6{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    background-color: #EDBFFF;
}
.page6 .top{
    padding-top: 30vh;
    display: flex;
    align-items: center;
}
.page6 h1{
    font-size: 7vw;
    color: #0F0D0D;
    font-weight: 600;
    padding-bottom: 10px;
    margin-left: 6vw;
}
.page6 .circle p{

    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    color: #0F0D0D;
    padding: 65px 30px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 26vw;
    margin-bottom: 4vh;
}
.bottom{
    margin-top: 25vh;
}
.bottom .media{
    display: flex;
    align-items: center;
}
.bottom h1{
    color: #0F0D0D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.bottom .media h1{
    font-size: 12px;
    font-weight: 300;
    
}